.mf-header-sesion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
    height: 80px;
    width: calc(100% - 270px);
    .mf-header-sesion-expand {
        padding: 10px;
        position: relative;
        width: 30px;
    }
    .mf-header-sesion-options {
        display: flex;
        flex-direction: row;
        .mf-header-sesion-button {
            margin: 20px;
            font-size: bold;
            background-color: #D80707;
            padding:10px;
            border-radius: 10px;
            >a {
                text-decoration: none;
                font-size: 16px;                
            }
        }
        .mf-header-sesion-data {
            display: flex;
            flex-direction: row;
            .mf-header-sesion-data-username {
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                min-width: 80px;
                margin-top: 18px;
                padding: 10px;
            }
            .mf-header-sesion-data-avatar {
                margin-top: 18px;
                width: 40px;
                height: 40px;
                border-radius: 8px;
            }
            .mf-header-sesion-option {
                margin-top: 10px;
                padding: 20px;
            }
        }
    }
}

.mf-header-center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #000;
}