<template>
  <div class="mf-header-sesion">
    <div class="mf-header-sesion-expand">
      <a href="javascript:void(0);" class="mf-header-center-item">
        <em class="ti-fullscreen"></em>
      </a>
    </div>
    <div class="mf-header-sesion-options">
      <div class="mf-header-sesion-button">
        <a
          href="https://smartclic.pe/tutoriales/"
          target="_blank"
          style="color: #fff; padding-top: 9px; padding-bottom: 9px"
        >
          <em class="ti-layout-grid2-alt"></em>&nbsp;&nbsp;Video Tutoriales
        </a>
      </div>
      <div class="mf-header-sesion-data">
        <span class="mf-header-sesion-data-username ">demo-pvlg</span>
        <img class="mf-header-sesion-data-avatar" src="https://i.ibb.co/TbtMjPL/avatar-icon.jpg" alt="User-Profile-Image"/>
        <div class="mf-header-sesion-option"><em class="ti-angle-down"></em></div>
      </div>
    </div>
  </div>
</template>

<script src="./sesion.ts" lang="ts"/>
<style src="./sesion.scss" lang="scss"/>