<template>
  <div class="mf-header-logo">
    <img
      class="mf-header-img-logo"
      src="https://i.ibb.co/TqPBmPW/Logo-Smart-NUEVO.png"
      alt="Theme-Logo"
    />
    <div class="mf-header-options">
      <div class="mf-header-option-display-menu">
        <a
          href="javascript:void(0);"
          class="mf-header-center-item"
          @click="showHideMenu"
        >
          <em class="ti-menu"></em>
        </a>
      </div>
    </div>
  </div>
</template>

<script src="./logo.ts" lang="ts"/>
<style src="./logo.scss" lang="scss" scoped/>