.mf-header-logo {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 270px;
    background-color: #F1F2F5;
    .mf-header-img-logo {
        max-width: 200px;
        max-height: 80px;
        padding-left: 10px;
    }
    .mf-header-options {
        position: relative;
        .mf-header-option-display-menu {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            border: 1px solid black;
            margin-top: 20px;
        }
    }
}

.mf-header-center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: red;
}