<template>
  <div class="mf-header">
    <logo/>
    <sesion/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Logo from '@/components/logo/logo.vue';
import Sesion from '@/components/sesion/sesion.vue';

export default defineComponent({
  name: 'mf-header',
  components: {
    Logo,
    Sesion
  }
});
</script>

<style lang="scss" scoped>
  .mf-header {
    display: flex;
    flex-direction: row;
    background-color: blue;
  }
</style>
